C:\Users\user\Documents\materials\data\AdventureWorks Raw Data\ 
C:\Users\user\Documents\materials\data\AdventureWorks PBIX Files\ 
C:\Users\user\Documents\materials\data\AdventureWorks Images\ 
C:\Users\user\Documents\materials\.idea\
C:\Users\user\Documents\materials\.vscode\
C:\Users\user\Documents\materials\logs\
C:\Users\user\Documents\materials\venv\